{
  "extends": "atomix-base",
  "rules": {
    "class-methods-use-this": "off",
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }],
    "no-console": "off",
    "function-paren-newline": "off",
    "arrow-body-style": "off"
  }
}
